# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln

# Build files
Build/

# OS files
.DS_Store
Thumbs.db

# Unreal autosaves/backups
Content/*/Autosaves/
Content/*/Developers/

# Logs
*.logs